<!doctype html>
<html lang="en">
  <head>
    {% favicon './website/favicon.png' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}" />
    <meta property="og:image" content="{{ metadata.url }}favicon.ico" />
    <meta property="og:description" content="{{ metadata.description }}" />
    <link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
    <link rel="canonical" href="{{ metadata.url }}">
    <link rel="alternate" type="application/rss+xml" title="Subscribe to see what's new" href="{{ metadata.url }}feed/feed.xml" />
    <title>{{ metadata.title }}</title>
  </head>
  <body>
    <div class="container">

      <div class="block">
        <div class="box">
          <a href="/"><h1 class="title">Futureporn</h1></a>
          <h2 class="subtitle">Unofficial <a target="_blank" href="https://twitter.com/ProjektMelody">ProjektMelody <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> Chaturbate VOD Archive. For Adults Only.</h2>
        </div>
      </div>


      <article class="mt-5 message is-warning">
        <div class="message-body">
          <p>Futureporn uses the public <a href="https://ipfs.io" target="_blank">IPFS <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> gateway which is sort of a courtesy service, not meant for serving lots of traffic. Futureporn has been generating <a
                target="_blank" 
                href="https://neocities.org/site/futureporn/stats"
                >lots of traffic<span class="icon"><i class="fas fa-external-link-alt"></i></a> and now <b>the public IPFS gateway is throttling requests for the most popular files</b>.</p><br>

          <p>The fix would be to run an IPFS gateway specifically for serving Futureporn downloads. As much as I'd love to fix the problem, I can't right now because <a href="https://twitter.com/cj_clippy">I <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> don't have a budget for that.</p><br>

          <p>I know of two workarounds that you can use to get video. Workaround #1 is easiest, but potentially fragile; use a gateway other than the one listed on Futureporn. List of IPFS gateways: <a href="https://ipfs.github.io/public-gateway-checker/" target="_blank">https://ipfs.github.io/public-gateway-checker/ <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p><br>

          <p>Right now, Futureporn is using dweb.link. That's the gateway getting the most traffic and throttling/dropping requests. To try a different gateway, just change the domain.</p><br>

          <p>Example:<p>

          <pre>https://dweb.link/ipfs/bafybeihpvf4mtxcz4usufix7slgd7cpsd4kxxu6uwlbddpndub6n3iywyq?filename=projektmelody-chaturbate-20211225T223400Z-source.mp4</pre>
          <p>becomes<p>
          <pre>https://ipfs.io/ipfs/bafybeihpvf4mtxcz4usufix7slgd7cpsd4kxxu6uwlbddpndub6n3iywyq?filename=projektmelody-chaturbate-20211225T223400Z-source.mp4</pre><br>

          <p>Workaround #2 is to run your own IPFS node (e.g. <a target="_blank" href="https://docs.ipfs.io/install/ipfs-desktop/">IPFS Desktop <span class="icon"><i class="fas fa-external-link-alt"></i></span></a>), along with the IPFS <a target="_blank" href="https://docs.ipfs.io/install/ipfs-companion/#install">browser plugin <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> (or <a href="https://brave.com/">Brave browser <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> which has the plugin built-in.) That way, your computer completely bypasses the public gateway and goes directly to the juicy good content.</p>
        </div>
      </article>



    {{ content | safe }}


      


    <div class="block">
    </div>
    <footer class="footer">

          

        <div class="content">
          <div class="columns">
            <div class="column is-6">
                <p class="title">Goals for this website</p>
                <ol>
                  <li><p>✅ Get a domain name. <a target="_blank" href="https://futureporn.net">futureporn.net <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p></li>
                  <li><p>☐ Archive every ProjektMelody Chaturbate stream. <mark>Progress: {% ipfsProgressPercentage collections.vods %}</mark></p></li>
                  <li><p>☐ Create mobile-friendly version of each video.</p></li>
                  <li><p>☐ Add a fap counter (A fancy <i>like</i> button so I can tell if people enjoy the site.)</p></li>
                  <li><p>☐ Secure website funding.</p></li>
                  <li><p>☐ Solicit viewer feedback.</p></li>
                  <li><p>☐ Design a sexy UI.</p></li>
                  <li><p>☐ Increase video playback performance.</p></li>
                  <li><p>☐ Enable video clipping, for highlighting crowd favorite moments.</p></li>
                  <li><p>☐ Develop Lovense vibration recording</p></li>
                  <li><p>☐ Implement syncronized Lovense vibration playback (for the audience with their own toys.)</p></li>
                  <li><p>☐ Label each VOD with tags</p></li>
                  <li><p>☐ Transcribe Closed Captions on all videos.</p></li>
                  <li><p>✅ Serve ProjektMelody VODs to Earth.</p></li>
                  <li><p>☐ Serve ProjektMelody VODs to Low Earth Orbit.</p></li>
                  <li><p>☐ Serve ProjektMelody VODs to Moonbase.</p></li>
                  <li><p>☐ Serve ProjektMelody VODs to Mars.</p></li>
                </ol>
              </div>
          
            <div class="column is-6">
              <p class="title">Meta</p>
              <p class="mt-4">
                Website made by <a target="_blank" href="https://twitter.com/CJ_Clippy">CJ_Clippy <span class="icon"><i class="fas fa-external-link-alt"></i></span></a>
              </p>
              <p>Website source code is available on <a target="_blank" href="https://github.com/insanity54/futureporn">GitHub <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p>
              <p>
                <a 
                target="_blank" 
                href="https://neocities.org/site/futureporn/stats"
                >Website Stats <span class="icon"><i class="fas fa-external-link-alt"></i></a>
              </p>
              <p><a 
                target="_blank" 
                href="https://www.reddit.com/r/projektmelody/comments/qikzy0/futureporn_an_unofficial_projektmelody_chaturbate/"
                >Reddit Thread<span class="icon"><i class="fas fa-external-link-alt"></i></a></p>
            </div>
          </div>

        <div class="level">
          <div class="level-left is-invisible">
            <div data-controller="fap" class="taskbar">
              <button data-fap-target="button" data-action="fap#fap" class="button is-large">
                <span class="icon">
                  💦
                </span>
                <span data-fap-target="count">69</span>
                <span>&nbsp;Faps</span>
              </button>
            </div>
          </div>
        </div>

        </div>
    </footer>

  </div>
    <script src="{% webpackAsset 'main.js' %}"></script>

  </body>
</html>
