<!doctype html>
<html lang="en">
  <head>
    {% favicon './website/favicon.png' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}" />
    <meta property="og:image" content="{{ metadata.url }}favicon.ico" />
    <meta property="og:description" content="{{ metadata.description }}" />
    <link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
    <link rel="canonical" href="{{ metadata.url }}">
    <link rel="alternate" type="application/rss+xml" title="Subscribe to see what's new" href="{{ metadata.url }}feed/feed.xml" />
    <title>{{ title or metadata.title }}</title>
  </head>
  <body data-controller="fp">
    <div class="container">

      <div class="block">
        <div class="box">
          <a href="/"><h1 class="title">Futureporn</h1></a>
          <h2 class="subtitle">Unofficial <a target="_blank" href="https://twitter.com/ProjektMelody">ProjektMelody <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> Chaturbate VOD Archive. For Adults Only.</h2>
        </div>
      </div>

    
      
    <article class="mt-5 message is-danger">
      <div class="message-body">
        Futureporn uses a decentralized file storage network <a href="https://ipfs.io" target="_blank">IPFS <span class="icon"><i class="fas fa-external-link-alt"></i></span></a>. The VOD links provided here use a public gateway, which can be slow. Faster download speeds are possible by running your own gateway such as <a target="_blank" href="https://docs.ipfs.io/install/ipfs-desktop/">IPFS Desktop <span class="icon"><i class="fas fa-external-link-alt"></i></span></a>
      </div>
    </article>



    {{ content | safe }}




    <footer class="footer">

          

          <div class="columns">
            <div class="column is-6">
              <p class="title">Goals for this website</p>
              <p>☐ Archive every ProjektMelody Chaturbate stream. <mark>Progress: {% ipfsProgressPercentage collections.vods %}</mark></p>
              <p>☐ Create mobile-friendly version of each video.</p>
              <p>☐ Add a fap counter (A fancy <i>like</i> button so I can tell if people enjoy the site.)</p>
              <p>☐ Re-encode all mkv videos to mp4 for streaming playback.</p>
              <p>☐ Secure website funding.</p>
              <p>☐ Design a sexy UI.</p>
              <p>☐ Get a domain name. Something like MelHub.com would be cool!</p>
              <p>☐ Increase video playback performance by adding a <a target="_blank" href="https://en.wikipedia.org/wiki/Content_delivery_network">CDN <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p>
              <p>☐ Enable video clipping, for highlighting crowd favorite moments.</p>
              <p>☐ Develop Lovense vibration recording</p>
              <p>☐ Implement syncronized Lovense vibration playback (for the audience with their own toys.)</p>
              <p>☐ Transcribe Closed Captions on all videos.</p>
              <p>✅ Serve ProjektMelody VODs to Earth.</p>
              <p>☐ Serve ProjektMelody VODs to Low Earth Orbit.</p>
              <p>☐ Serve ProjektMelody VODs to Moonbase.</p>
              <p>☐ Serve ProjektMelody VODs to Mars.</p>
            </div>
          
            <div class="column is-6">
              <p class="mt-4">
                Website made by <a target="_blank" href="https://twitter.com/CJ_Clippy">CJ_Clippy <span class="icon"><i class="fas fa-external-link-alt"></i></span></a>
              </p>
              <p>Website source code is available on <a target="_blank" href="https://github.com/insanity54/futureporn">GitHub <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p>
            </div>
          </div>

        <div class="level">
          <div class="level-left is-invisible">
            <div data-controller="fap" class="taskbar">
              <button data-fap-target="button" data-action="fap#fap" class="button is-large">
                <span class="icon">
                  💦
                </span>
                <span data-fap-target="count">69</span>
                <span>&nbsp;Faps</span>
              </button>
            </div>
          </div>
        </div>
    </footer>

  </div>
    <script src="{% webpackAsset 'main.js' %}"></script>
  </body>
</html>
