[Install]
WantedBy=multi-user.target

[Unit]
Description=aedes
After=network.target

[Service]
Type=simple
ExecStart=npm exec -- aedes --config /home/aedes/aedes/config.js
User=aedes
Group=aedes
WorkingDirectory=/home/aedes/aedes
Restart=always
RestartSec=5
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
