[Unit]
Description=IPFS Daemon
After=network.target

[Service]
User=ipfs
Group=ipfs
Environment=IPFS_PATH=/home/ipfs/.ipfs
ExecStart=/usr/local/bin/ipfs daemon --init --migrate
StandardOutput=journal
Restart=always
KillSignal=SIGINT
RestartSec=8

[Install]
WantedBy=multi-user.target