
$red: #1d1058;
$darkred: #1c1a5b;
$lightgray: #333333;
$gray: #C0C0C0;
$darkgray: #141414;
$navy: #17050F;
$blue: #082840;
$white: #fff;
$highlight: #6749d7;
$tcolor: #856fd7;
$color1: #7854be;
$color2: #1f3fb6;
$color3: #851095;
$color4: #5d85ca;
$color5: #333d49;
$color6: #27106f;
$wingrey: #bbc3c4;
$turquoise: #00ffcc;
$fa-font-path: '/webfonts';
