<ul>
	<h1>I Missed Mel's Last Stream</h1>
	<p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/projektmelody">ProjektMelody's</a> Chaturbate VODs from the past two weeks</p>
	<p><% JSON.stringify(videos) %></p>
	<% if (videos.length === 0) { %>
		<aside>
			<p style="font-style: italic;">There are no VODs</p>
		</aside>
	<% } else { %>
		<div class="pure-menu custom-restricted-width">
			<ul class="pure-menu-list">
				<% videos.forEach((video) => { %>
					<%- include('./video', { video: video }); %>
				<% }) %>
			</ul>
		</div>
	<% } %>
	<p>Website by <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/CJ_Clippy">CJ Clippy  🥗</a></p>
</ul>