<ul>
	<h1>I Missed Mel's Last Stream</h1>
	<p>ProjektMelody Chaturbate VODs from the past two weeks</p>
	<% videos.forEach((video) => { %>
		<%- include('./video', { video: video }); %>
	<% }) %>
	<p>Website by <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/cj_crispy">CJ Clippy 🥗</a></p>
</ul>