[Install]
WantedBy=multi-user.target

[Unit]
Description=Futureporn Scout
After=network.target

[Service]
ExecStart=/usr/bin/env node /home/futureporn/futureporn/scout/index.js
WorkingDirectory=/home/futureporn/futureporn/scout
Restart=always
RestartSec=5
User=futureporn
Group=futureporn
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=DEBUG="futureporn/*"
Environment=TWITTER_API_KEY={{ lookup('env', 'TWITTER_API_KEY') }}
Environment=TWITTER_API_KEY_SECRET={{ lookup('env', 'TWITTER_API_KEY_SECRET') }}
Environment=TWITTER_ACCESS_TOKEN={{ lookup('env', 'TWITTER_ACCESS_TOKEN') }}
Environment=TWITTER_ACCESS_TOKEN_SECRET={{ lookup('env', 'TWITTER_ACCESS_TOKEN_SECRET') }}
Environment=IPFS_CLUSTER_HTTP_API_USERNAME={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_USERNAME') }}
Environment=IPFS_CLUSTER_HTTP_API_PASSWORD={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_PASSWORD') }}
Environment=IPFS_CLUSTER_HTTP_API_MULTIADDR={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_MULTIADDR') }}
Environment=POSTGRES_HOST={{ lookup('env', 'POSTGRES_HOST') }}
Environment=POSTGRES_USERNAME={{ lookup('env', 'POSTGRES_USERNAME') }}
Environment=POSTGRES_PASSWORD={{ lookup('env', 'POSTGRES_PASSWORD') }}
Environment=FUTUREPORN_WORKDIR={{ lookup('env', 'FUTUREPORN_WORKDIR' )}}

Type=simple
