[Install]
WantedBy=multi-user.target

[Unit]
Description="futureporn-capture worker"
After=network.target

[Service]
ExecStart=/root/futureporn/utils/capture.js
WorkingDirectory=/root
Type=simple
Restart=always
RestartSec=3