[Unit]
Description=Grafana Agent

[Service]
User=grafana-agent
ExecStart={{ agent_binary_location }}/agent-{{ linux_architecture }} --config.file={{ agent_config_location }}/agent-config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target


