[Install]
WantedBy=multi-user.target

[Unit]
Description="futureporn capture-monitor"
After=network.target

[Service]
ExecStart=/usr/bin/env node /root/futureporn/capture/src/monitor.js
WorkingDirectory=/root/futureporn/capture
Type=simple
Restart=always
RestartSec=5
Environment=REDIS_HOST={{ lookup('env', 'REDIS_HOST') }}
Environment=REDIS_PASSWORD={{ lookup('env', 'REDIS_PASSWORD') }}
Environment=REDIS_USERNAME={{ lookup('env', 'REDIS_USERNAME') }}
Environment=FUTUREPORN_WORKDIR={{ lookup('env', 'FUTUREPORN_WORKDIR') }}
IPFS_CLUSTER_HTTP_API_MULTIADDR={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_MULTIADDR') }}
IPFS_CLUSTER_HTTP_API_USERNAME={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_USERNAME') }}
IPFS_CLUSTER_HTTP_API_PASSWORD={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_PASSWORD') }}
Environment=DEBUG="futureporn/*"