[Install]
WantedBy=multi-user.target

[Unit]
Description="futureporn capture-monitor"
After=network.target

[Service]
ExecStart=/usr/bin/env node /root/futureporn/capture/index.js
WorkingDirectory=/root/futureporn/capture
Type=simple
Restart=always
RestartSec=5
Environment=POSTGRES_HOST={{ lookup('env', 'POSTGRES_HOST') }}
Environment=POSTGRES_PASSWORD={{ lookup('env', 'POSTGRES_PASSWORD') }}
Environment=POSTGRES_USERNAME={{ lookup('env', 'POSTGRES_USERNAME') }}
Environment=FUTUREPORN_WORKDIR={{ lookup('env', 'FUTUREPORN_WORKDIR') }}
Environment=IPFS_CLUSTER_HTTP_API_MULTIADDR={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_MULTIADDR') }}
Environment=IPFS_CLUSTER_HTTP_API_USERNAME={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_USERNAME') }}
Environment=IPFS_CLUSTER_HTTP_API_PASSWORD={{ lookup('env', 'IPFS_CLUSTER_HTTP_API_PASSWORD') }}
Environment=DEBUG="futureporn/*"