<!doctype HTML>
<html>
	<head>
		<title>Commander</title>
		<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
	</head>
	<body>
		<h1>Commander Centre</h1>
		<p>env:{{ env }}</p>
		<ul>
			<li><a href="/command">command area</a></li>
			<li><a href="/health">health check</a></li>
		</ul>
	</body>
</html>