
{# {% set imageUrl =  %} #}
{# {% set imageData = await EleventyFetch(imageUrl).then(r => r.buffer()) %} #}

{# {{ vod.data.thiccHash }} #}
<div class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop">
  <div class="card">
    <div class="card-image">
      <a href="{{ vod.url | url }}">
        <figure class="image is-16by9">
          <picture>
            <source 
              type="image/avif" 
              srcset="/favicon.png"
              sizes="(max-width: 640px) 640px, (max-width: 1024px) 1024px, 1920px"
            >
            <img 
              class="image" 
              alt="" 
              loading="lazy" 
              decoding="async" 
              onerror="this.style.display='none'" 
              src="/favicon.png"
              width="64" 
              height="65"
            >
          </picture>

        </figure>
      </a>
    </div>
      <div class="card-content">
        {# <p>imageUrl:{% buildIpfsUrl vod.data.thiccHash %}</p> #}
        <a href="{{ vod.url | url }}">
          <h3 class="heading">{{ vod.data.date | htmlDateString }}</h3>
          <p class="description is-size-7">
            {% if vod.data.announceTitle %}
              {{ vod.data.announceTitle | urlDecode }}
            {% elseif vod.data.title %}
              {{ vod.data.title | urlDecode }}
            {% endif %}
          </p>
        </a>
      </div>
    <div>
    </div>
  </div>
</div>


{# 
<picture>
  <source srcset="{% getUrl image | resize({ width: 1440, height: 460 }) | webp %} 1x, {% getUrl image | resize({ width: 2560, height: 800 }) | webp %} 2x" media="(min-width: 640px)">
  <source srcset="{% getUrl image | resize({ width: 640, height: 320 }) | webp %} 1x, {% getUrl image | resize({ width: 1280, height: 640 }) | webp %} 2x">
  <source srcset="{% getUrl image | resize({ width: 1440, height: 460 }) %} 1x, {% getUrl image | resize({ width: 2560, height: 800 }) %} 2x" media="(min-width: 640px)">
  <img class="articleHero-image" srcset="{% getUrl image | resize({ width: 640, height: 320 }) %} 1x, {% getUrl image | resize({ width: 1280, height: 640 }) %} 2x" alt="{{ image.title }}">
</picture> #}