

    <div class="block">
      <section class="hero is-primary">
        <div class="hero-body">
          <p class="subtitle">Unofficial <a target="_blank" href="https://twitter.com/ProjektMelody">ProjektMelody <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> Chaturbate VOD Archive. For Adults Only. (NSFW)</p>
        </div>
      </section>
    </div>

  <article class="message is-success">
    <div class="message-header">
       Science Team, We Did It! 🎉
      <figure class="image is-32x32">
        <a target="_blank" href="https://twitter.com/cj_clippy"><img class="is-rounded" src="/img/cj_clippy.jpeg"></a>
      </figure>
    </div>
    <div class="message-body has-text-centered">
      <p class="my-5"><span class="is-size-2">Progress: <mark>{% ipfsProgressPercentage collections.vods %}</mark> ✅</span></p>

      <p class="mb-4">All known Projektmelody Chaturbate vods have been pinned on 
      <a target="_blank" href="https://ipfs.tech">IPFS<span class="icon"><i class="fas fa-external-link-alt"></i>
                    </span>.
                </a></p>



      <p class="mb-4"><b>Wow</b>, that 100% looks great. I'm really proud of what we have accomplished!</p>

      <p class="mb-5">This was a team effort. There were countless Science Team members who reached out with VOD contributions and issue reports. Many offered encouragement, upboats, reddit awards, and some absolute madlads even opened their wallets and supported the project financially via <a target="_blank" href="https://www.patreon.com/CJ_Clippy">Patreon <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span></a>. Thank you for the support, it means so much to me.</p>

      <p class="mb-4 is-size-3">🥰</p>

    </div>
  </article>


  <article class="message is-info">
    <div class="message-header">
      Now for some not-so-good news
      <figure class="image is-32x32">
          <a target="_blank" href="https://twitter.com/cj_clippy"><img class="is-rounded" src="/img/cj_clippy.jpeg"></a>
      </figure>
    </div>
    <div class="message-body">
    <p class="mb-4"><b>Futureporn's future is uncertain.</b></p>

    <p class="mb-4">Until recently, I had been leveraging ipfs.storage which provides file uploads and IPFS pinning for free. This worked well. It kept operating cost low, a necessity since I don't have a "regular job."</p>

    <p class="mb-4">Recently, a third party reported some of the content pinned via my ipfs.storage account. Their report said the content contains their licensed content. ipfs.storage responded, restricting my account from uploading and pinning any new files.</p>

    <p class="mb-4">I reached out to ipfs.storage to see if I could get in touch with the reporting party to get more details. Per ipfs.storage policy, they do not disclose the reporting party's identity, but they did oblige to forwarding my contact details to said party.</p>

    <p class="mb-4">I think I have to explain my income. I make most of my money selling anime trading cards on eBay. I make less than minimum wage, and every month I struggle to pay my rent. I've taken on debt, and I think prioritizing Futureporn is a financial irresponsibility on my part. I do it anyway because Futureporn is one of the most exciting and meaningful projects of my life.</p>

    <p class="mb-4">The ipfs.storage account restriction meant that the way forward for Futureporn was to run it's own storage and IPFS infrastructure. This has been the case since 2022-09-07, but the transition has not been easy. The additional datacenter server and HDD rentals have given me sticker shock. Worse, the bill only gets bigger each month as new VODs are pinned.</p>

    <p class="mb-4"><b>TL;DR: I don't know if I can continue to pay the bills, but I'm going to do my best</b>. My plan going forward is to limit the rate at which Futureporn utilizes storage. This means that I will no longer be re-encoding any VODs to lower resolutions. No 240p, source only.</p>

    <p class="mb-4">I did some calculations for a minimum viable service and it's going to cost around $130 per month to run the site. This includes a VPS for recording VODs, a second VPS to run the Futureporn IPFS cluster, and enough disk storage for all 1.4TB of VODs.</p>

    <p class="mb-4">This is not a redundant setup. If the IPFS cluster goes down for any reason, there would be a lengthy outage while I restore from backup. This is where the IPFS network comes in. Other ProjektMelody enthusiasts who are pinning the content and/or join the cluster can serve VODs in the case that Futureporn goes down.</p>

    <p class="mb-4">The biggest complaint I receive about Futureporn is <a href="/faq#not-working">buffering</a>. I cannot address VOD download speed on my budget. VODs will continue to be slow and buffery for the forseeable future. In other words, creating speed is not on my radar. Surviving the test of time is.</p>


    </div>
  </article>

    <table class="table">
      <thead>
          <tr>
            <th>Date</th>
            <th>Video (Source)</th>
            {#<th>Video (720p)</th>#}
            {#<th>Video (480p)</th>#}
            {#<th>Video (360p)</th>#}
            <th class="is-danger">Video (240p)</th>
            {#<th>Audio Only</th>#}
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Annouce URL</th>
          </tr>
        </thead>
        <tbody>
          {% for vod in vodslist | reverse %}
          <tr>
            <td><a href="{{ vod.url | url }}">{{ vod.data.date | htmlDateString }}</a></td>
            <td>
              {% if vod.data.videoSrcHash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.videoSrcHash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>

            {#<td>
              {% if vod.data.video720Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video720Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            {#<td>
              {% if vod.data.video480Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video480Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            {#<td>
              {% if vod.data.video360Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video360Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            <td>
              {% if vod.data.video240Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video240Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>

            {#<td>
              {% if vod.data.audioSrcHash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.audioSrcHash %}">
                    <span>
                      <i class="fas fa-file-audio"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            <td>
              {% if vod.data.thiccHash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.thiccHash %}">
                  <span class="icon">
                    <i class="fas fa-image"></i>
                  </span>
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                </a>
              {% endif %}
            </td>

            <td>
              {% if vod.data.announceTitle %}
                {{ vod.data.announceTitle | urlDecode }}
              {% elseif vod.data.title %}
                {{ vod.data.title | urlDecode }}
              {% endif %}
            </td>

            <td>
              {% if vod.data.announceUrl %}
                <a target="_blank" href="{{ vod.data.announceUrl }}">
                  <span class="icon">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                </a>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>

    </table>