

    <div class="block">
      <section class="hero is-primary">
        <div class="hero-body">
          <p class="subtitle">Unofficial <a target="_blank" href="https://twitter.com/ProjektMelody">ProjektMelody <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> Chaturbate VOD Archive. For Adults Only. (NSFW)</p>
        </div>
      </section>
    </div>

  <article class="message is-info">
    <div class="message-header">
       Funding Goal
      <figure class="image is-32x32">
        <a target="_blank" href="https://twitter.com/cj_clippy"><img class="is-rounded" src="/img/cj_clippy.jpeg"></a>
      </figure>
    </div>
    <div class="message-body has-text-centered">

      {% set goal = metadata.incompleteGoals[0]%}
      <p class="subtitle">${{ (goal.amount_cents*(goal.completed_percentage*0.01)/100) | round }} of ${{ goal.amount_cents / 100 }} ({{goal.completed_percentage}}%)</p>

      <progress class="progress is-info is-medium" value="{{ goal.completed_percentage }}" max="100">{{ goal.completed_percentage }}%</progress>

      <p>{{ goal.description }}</p>
      <p>Thank you, 
        <a href="https://patreon.com/CJ_Clippy">
        Patrons
        <span class="icon">
          <i class="fas fa-external-link-alt"></i>
        </span></a>!
      </p>
    </div>
  </article>



    <div class="smallGallery">
      <div class="columns">
      {% for vod in vodslist | reverse %}
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="{{ vod.url | url }}">
                    <p class="title is-4">{{ vod.data.date | htmlDateString }}
                  </a>
                  <p class="subtitle">
                    {{ vod.data.title | urlDecode | truncate(75) }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <table class="table bigTable">
      <thead>
          <tr>
            <th>Date</th>
            <th>Source VOD</th>
            {#<th>Video (720p)</th>#}
            {#<th>Video (480p)</th>#}
            {#<th>Video (360p)</th>#}
            <th>240p VOD</th>
            {#<th>Audio Only</th>#}
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Annouce URL</th>
          </tr>
        </thead>
        <tbody>
          {% for vod in vodslist | reverse %}
          <tr>
            <td><a href="{{ vod.url | url }}">{{ vod.data.date | htmlDateString }}</a></td>
            <td>
              {% if vod.data.videoSrcHash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.videoSrcHash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>

            {#<td>
              {% if vod.data.video720Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video720Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            {#<td>
              {% if vod.data.video480Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video480Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            {#<td>
              {% if vod.data.video360Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video360Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            <td>
              {% if vod.data.video240Hash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.video240Hash %}">
                    <span>
                      <i class="fas fa-video"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>

            {#<td>
              {% if vod.data.audioSrcHash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.audioSrcHash %}">
                    <span>
                      <i class="fas fa-file-audio"></i>
                    </span>
                    <span class="icon">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
              {% endif %}
            </td>#}

            <td>
              {% if vod.data.thiccHash %}
                <a target="_blank" href="{% buildIpfsUrl vod.data.thiccHash %}">
                  <span class="icon">
                    <i class="fas fa-image"></i>
                  </span>
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                </a>
              {% endif %}
            </td>

            <td>
              {% if vod.data.announceTitle %}
                {{ vod.data.announceTitle | urlDecode }}
              {% elseif vod.data.title %}
                {{ vod.data.title | urlDecode }}
              {% endif %}
            </td>

            <td>
              {% if vod.data.announceUrl %}
                <a target="_blank" href="{{ vod.data.announceUrl }}">
                  <span class="icon">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                </a>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
    </table>
