[Install]
WantedBy=multi-user.target

[Unit]
Description=Twitter Scout for futureporn
After=network.target

[Service]
ExecStart=/root/futureporn/utils/scout.js
WorkingDirectory=/root/futureporn
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Type=simple

