---
layout: layouts/base.njk
eleventyNavigation:
  key: API
  order: 5
---

<div class="content">
  <div class="block">
    <div class="box">
    <p class="title">Futureporn API</p>
    <p class="subtitle">Application Programmable Interface (API) for developers</p>
    <p>The API contains all the data served by this website in JSON format, including IPFS Content IDs (CID), VOD titles, dates, and stream announcement links.</p>
		<p><a class="my-5 button is-primary" href="./v1.json">Futureporn API Version 1</a></p>
	</div>
  </div>
</div>