---
layout: layouts/base.njk
eleventyNavigation:
  key: API
  order: 5
---

<div class="content">
  <div class="block">
    <div class="box">
    <p class="title">Futureporn API</p>
    <p class="subtitle mb-6">Application Programmable Interface (API) for developers</p>

    <p class="is-size-3 mb-2">Data API</p>
    <p>The Data API contains all the data served by this website in JSON format, including IPFS Content IDs (CID), VOD titles, dates, and stream announcement links.</p>
		<p><a class="mt-3 mb-5 button is-primary" href="./v1.json">Futureporn API Version 1</a></p>

    <p class="is-size-3 mb-2">IPFS Cluster Template</p>
    <p>The IPFS Cluster Template allows other IPFS cluster instances to join the Futureporn.net IPFS cluster as a <a target="_blank" href="https://ipfscluster.io/documentation/collaborative/joining/">follower peer<span class="icon"><i class="fas fa-external-link-alt"></i></span></a>. Cluster peers automatically pin (replicate) the IPFS content listed on this website.</p>

    <p>Basic instructions are as follows</p>
    <ol>
    <li>Download & install both <a target="_blank" href="https://dist.ipfs.tech/#kubo">ipfs-kubo<span class="icon"><i class="fas fa-external-link-alt"></i></span></a> and <a target="_blank" href="https://dist.ipfs.tech/#ipfs-cluster-follow">ipfs-cluster-follow <span class="icon"><i class="fas fa-external-link-alt"></i></span></a> onto your server.</li>
    <li>Initialize your ipfs repo & start the ipfs daemon 
<pre>
ipfs init
ipfs daemon
</pre>
    </li>
    <li>Join the cluster <pre>CLUSTER_PEERNAME="replace-me-with-your-super-cool-name" ipfs-cluster-follow futureporn.net run --init https://futureporn.net/api/service.json</pre></li>
    </ol>


    <p><a id="cluster" class="mt-3 mb-5 button is-info" href="./service.json">Futureporn IPFS Cluster Template (service.json)</a></p>
    <div class="mb-5"></div>
	</div>
  </div>
</div>