---
layout: base
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="box">
	<p class="title">404</p>
	<p class="subtitle">Content not found!</p>

	<p>Go <a href="{{ '/' | url }}">home</a>.</p>
</div>
