---
layout: layouts/base.njk
eleventyNavigation:
  key: Goals
  order: 3
---

<div class="content">

  <div class="box">
    <p class="title">Futureporn Goals</p>

    <p class="subtitle">Goals are listed in order of priority</p>
    <ol class="mb-6">
      <li><p>☐ Survive for another year. (2023+)</p></li>
      <li><p>☐ Secure website funding.</p></li>
      <li><p>☐ Increase video playback performance by implementing an <a href="https://docs.ipfs.tech/concepts/ipfs-gateway/">IPFS Gateway<span class="icon"><i class="fas fa-external-link-alt"></i></a>.</p></li>
      <li><p>☐ Create mobile-friendly version of each video.</p></li>
      <li><p>☐ Develop Lovense vibration recording</p></li>
      <li><p>☐ Design a sexy UI which includes a NUT button (for science.)</p></li>
      <li><p>☐ Implement syncronized Lovense vibration playback (for the audience with their own toys.)</p></li>
      <li><p>☐ Label each VOD with tags & timestamps</p></li>
      <li><p>☐ Enable video clipping, for highlighting crowd favorite moments.</p></li>
      <li><p>☐ Solicit viewer feedback.</p></li>
      <li><p>☐ Transcribe Closed Captions on all videos.</p></li>
      <li><p>☐ Serve ProjektMelody VODs to Low Earth Orbit.</p></li>
      <li><p>☐ Beam ProjektMelody VODs to Moonbase.</p></li>
      <li><p>☐ Stream ProjektMelody VODs to Mars.</p></li>
    </ol>

    <p class="is-size-3 mb-2">Completed Goals</p>
    <ul>
      <li><p>✅ Serve ProjektMelody VODs to Earth.</p></li>
      <li><p>✅ Get a domain name. <a href="https://futureporn.net">futureporn.net</a></p></li>
      <li><p>✅ <a href="/api" target="_blank">Futureporn API</a></p></li>
      <li><p>✅ Create a Futureporn <a href="https://collab.ipfscluster.io/" target="_blank">IPFS Cluster <span class="icon"><i class="fas fa-external-link-alt"></i></span></a></p></li>
      <li><p>✅ Archive every ProjektMelody Chaturbate stream. <mark>{% ipfsProgressPercentage collections.vods %}</mark></p></li>

    </ul>
  </div>
    
</div>