---
layout: layouts/base.njk
eleventyNavigation:
  key: Testbed
  order: 9
---


<div class="content">
  <div class="block">
    <div class="box">
      <div class="columns">
        <div class="column is-6">
          <video id="testplayer" style="--plyr-color-main:#353fff;" controls data-poster="">
        </div>
      </div>
    </div>
  </div>
</div>