---
layout: layouts/base.njk
eleventyNavigation:
  key: Upload
  order: 5
---


<div class="content">
  <link rel="stylesheet" href="{% webpackAsset 'upload.css' %}">
  <div class="box">
    <p class="title">Upload your VODs</p>
    <p>Got a ProjektMelody VOD that Futureporn is missing? Upload them here. Contributors get their name displayed in the website footnotes.</p>
    <p>All text fields are optional.</p>
    <form id="metadata-form">
      <div class="field">
        <label class="label">Attribution Name</label>
        <div class="control has-icons-left">
          <input name="name" class="input" type="text" placeholder="Anonymous">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Attribution Link</label>
        <div class="control has-icons-left has-icons-right">
          <input name="link" class="input" type="text" placeholder="https://reddit.com/u/your_name_here">
          <span class="icon is-small is-left">
            <i class="fas fa-link"></i>
          </span>
        </div>
      </div>


      <div class="field">
        <label name="comment" class="label">Comment</label>
        <textarea class="textarea" placeholder="This VOD is from [date]" rows=3></textarea>
      </div>

    </form>
    <div class="mb-5"></div>  

    <div id="upload-widget"></div>
  </div>

  <script src="{% webpackAsset 'upload.js' %}"></script>
</div>
