# Let's Encrypt site-wide configuration
dns-luadns-credentials = /etc/letsencrypt/luadns.ini

# Use the ACME v2 staging URI for testing things
server = https://acme-staging-v02.api.letsencrypt.org/directory

# Production ACME v2 API endpoint
#server = https://acme-v02.api.letsencrypt.org/directory

