@charset "utf-8";



@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import "bulma/bulma.sass";
@import "bulma-prefers-dark/bulma-prefers-dark.sass";





html {
  background-image: linear-gradient($red, $darkred);
}


div.card-content p {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1rem;
  white-space: nowrap;
}

a.pagination-link,
a.pagination-next,
a.pagination-previous,
progress.progress,
button.button {
  vertical-align: unset;
}

figure.image {
  background-image: linear-gradient(45deg, $red, $color1);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

figure.is-rounded {
  border-radius: 50%;
}

nav.navbar {
  user-select: none;
}