@charset "utf-8";



@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import "bulma/bulma.sass";
@import "bulma-prefers-dark/bulma-prefers-dark.sass";



@import 'plyr/dist/plyr.css';




html {
  background-image: linear-gradient($red, $darkred);
}
.smallGallery {
  @include from($tablet) {
    display: none;
    border: 3px solid lime;
  }
}
.bigTable {
  @include until($tablet) {
    display: none;
  }
}